html {
  font-size: 18px;
  line-height: 1.4;
}
body {
  font-family: Helvetica;
  overflow: visible;
}
.container {
  display: flex
}
.lead {
  max-width: 100%;
  height: 30rem;
  display: flex;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-direction: column;
}
header {
  background-color: cadetblue;
  margin: 0 auto;
  padding: 0 2rem;
  color: white;
  margin-top: 1rem;
  max-width: 960px;
  align-items: center;
  position: relative;
  height: 2.5rem;
  display: flex;
}
.logo {
  flex-grow: 1;
  font-size: 1rem;
  align-items: center;
  display: flex;
}
.logo img {
  height: 1.5rem;
  margin-right: 1rem;
}
nav {
  display: flex;
  justify-content: space-between;
}
nav span {
  margin-left: 2rem;
}
#truncated {
  display: none;
}
.caption {
  background-color: white;
  margin-top: 10rem;
  text-align: center;
  display: flex;
  position: relative;
  left: 46.4%;
  max-width: 48.4%;
}
.caption span {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  margin: 1.5rem 5rem;
}

.services {
  max-width: 100%;
  height: 8rem;
  justify-content: center;
  margin: 3rem 0;
}
.info {
  flex-direction: row;
  display: flex;
  max-width: 700px;
  margin: 0 auto;
}
.column img {
  height: auto;
}
.column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-between;
  justify-content: space-around;
  max-width: 6rem;
  margin: 0 3rem;
}
.left, .middle {
  margin-right: 6rem;
}
#paper {
  max-width: 3.5rem;
}
#ruler, #truck {
  max-width: 5rem;
}
.column span {
  flex-wrap: wrap;
  text-align: center

}

.other {
  display: flex;
  justify-content: center;
}
.secondcolumn {
  max-width: 35%;
  margin-bottom: 5rem;
}
.subheading {
  background-color: cadetblue;
  font-weight: bold;
  font-size: 1rem;
  color: white;
  padding: 0.5rem 0 0.5rem 1.25rem;
  display: flex;
  max-width: 10rem;
}
.bodytext {
  margin-top: 1rem;
}

.philosophy {
  margin-right: 5%;
}

footer {
  background-color: azure;
  max-width: 1000px;
  margin: 0 auto;
}
.row {
  padding: 4rem 0 4rem 4rem;
  display: flex;
  align-items: center;
}
.row img {
  height: 1.5rem;
  width: auto;
  padding-right: 1rem;
}

@media only screen and (max-width: 1034px) {
  .lead {
    height: 22rem;
    max-width: 100%;
  }
  header {
    max-width: 100%;
    margin-top: 0;
    flex-shrink: 1;
  }
  nav {
    margin: auto;
    flex-shrink: 1;
    flex-wrap: wrap;
  }
  .logo {
    flex-shrink: 1;
  }
  .caption {
    margin-top: 5rem;
    padding: 0;
    right: 2rem;
  }
  .caption span {
    margin: 0.75rem 4rem;
    font-size: 1.33rem;
  }
}

@media only screen and (max-width: 700px) {
  .lead {
    background-position: 20%;
    height: 17rem;
  }
  .normal-menu {
    display: none;
  }
  #truncated {
    display: block;
  }
  .services {
    height: 31rem;
    margin: 3.77rem 0;
  }
  .info {
    max-width: 100%;
    flex-direction: column;
  }
  .column {
    height: 10rem;
  }
  .column img {
    margin-bottom: 0;
  }
  .other {
    flex-direction: column;
  }
  .secondcolumn {
    max-width: 100%;
    margin-bottom: 4rem;
  }
  .subheading {
    max-width: 100%;
    padding-right: 0;
    text-align: center;
  }
  .subheading span {
    margin: 0 auto;
  }
  .philosophy {
    margin-right: 0;
  }
  .bodytext {
    font-size: 0.77rem;
  }
  .row span{
    display: none;
  }
  .row img {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 590px) {
  .caption {
    margin-top: 9rem;
    max-width: 100%;
    left: 0;
  }
  .caption span {
    margin: 1rem auto;
    font-size: 1rem;
  }
}
